{% extends 'base.html' %}

{% block body %}
<h1>Passgenerator Dessopolis</h1>

<form method="POST" action="{{ url_for('order_create') }}">
    {{ form.csrf_token }}
    <label for="range_size">Anzahl Pässe</label> {{ form.range_size(size=5) }}
    {% if form.range_size.errors|length %}
    <ul class="error">
        {% for error in form.range_size.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" value="Pässe erstellen">
</form>
{% endblock %}
