{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="jumbotron col-xs-12">
        <h1>Passgenerator Dessopolis</h1>
        <p>Mit dieser Anwendung können Sie bereits im Voraus Anmeldeformulare für
        Dessopolis erstellen. Die erstellte PDF beinhaltet bereits die Pässe für
        Dessopolis.</p>
        <p>Die erstellte PDF enthält eine Anleitung, wie sie die Pässe und
        Anmeldeformulare ausfüllen sollten, um ohne groß warten zu müssen
        in Dessopolis Eintritt zu erhalten.</p>
        <p>Sie können bis zu {{ max_range_size }} Pässe auf einmal
        erzeugen lassen. Sollten Sie mehr benötigen, erstellen sie einfach eine
        zweite PDF.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('order_create') }}">Los gehts!</a>
    </div>
</div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
