{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="jumbotron">
        <h1>Pass-Generator Dessopolis</h1>
        <p>Mit dieser Anwendung können Sie Anmeldeformulare und gleichzeitig
        Pässe für Dessopolis in einer PDF-Datei erstellen. Diese Datei enthält
        auch eine Anleitung zum Ausfüllen der Anmeldeformulare und Pässe. Sie
        können bis zu {{ max_range_size}} Pässe auf einmal erzeugen lassen.
        Sollten Sie mehr benötigen, erstellen Sie einfach eine zweite
        PDF-Datei.</p>
        <hr>
        <form method="POST" action="{{ url_for('order_create') }}" class="row">
            {{ form.csrf_token }}
            <div class="range_size col-xs-12">
                <label for="range_size">
                Ich würde gerne {{ form.range_size(size=5) }} Anmeldungen erstellen.</label>
                {% if form.range_size.errors %}
                <div class="alert alert-danger">
                {# @TODO This is an ugly hack around the accumulating errors #}
                    {{ form.range_size.errors[0] }}
                </div>
                {% endif %}
            </div>
            <div class="submit col-xs-12">
                <input type="submit" class="btn btn-primary btn-lg" value="Und los!">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">
{% endblock %}
