@import 'bootstrap/less/bootstrap';
@import 'base';

.status.waiting,
.status.waiting .pending,
.status.ready,
.status.error {
    display: none;
}

body.has_pending .status.waiting .pending {
    display: inline;
}

body.waiting .status.waiting {
    display: block;
}

body.ready .status.ready {
    display: block;
}

body.error {
    .status.error {
        display: block;
    }

    .status.progress {
        display: none
    }
}

input#range_size {
    width: 2em;
    text-align: center;
}
